@value bone-white, blue-mariner, crimson-red from '../shared/colors.css';

@value poster-width: 200;
@value poster-height: 300;
@value poster-border: 4;
@value poster-radius: 5;

.wrapper {
    display: inline-block;
    width: calc(poster-width)px;
    position: relative;
    height: 350px;
    cursor: pointer;
    margin: 30px;
}

.poster-wrapper {
    position: absolute;
    border: solid calc(poster-border)px transparent;
    border-radius: calc(poster-radius)px;
    width: calc(calc(poster-width)px - calc(poster-border)px*2);
    height: calc(calc(poster-height)px - calc(poster-border)px*2);
    z-index: 2;
}

.poster-wrapper-focus {
    composes: poster-wrapper;
    border: solid calc(poster-border)px blue-mariner;
}

.poster {
    top: 0;
    position: absolute;
    width: calc(poster-width)px;
    height: calc(poster-height)px;
    background-size: cover;
    z-index: 1;
    border-radius: calc(poster-radius)px;
}
.poster-used {
    composes: poster;
    filter: grayscale(0.8);
}

.actions {
    width: calc(calc(calc(poster-width)px - calc(poster-border)px*2) - 20px);
    padding: 0 10px;
    margin-top: 10px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.icon {
    opacity: 0.5;
    color: bone-white;
}

.seen {
    color: blue-mariner;
    opacity: 1;
}

.bookmarked {
    color: crimson-red;
    opacity: 1;
}

.text {
    color: bone-white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.year {
    opacity: 0.6;
}